@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.inputHashtagError {
  color: #f95372;
}

.blurCalendar {
  height: 475px;
}

#hashtaglist {
  height: 200px;
}

#selectActions {
  float: right;
}
#networkingButton {
  margin-left: 38%;
  float: left;
  border-radius: 50%;
  padding: 20px 20px 15px 20px;
  margin-top: 10px;
}
