<div class="row">
  <div class="auth-block">
    <h1>Change Password</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row"
           [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3"
                 placeholder="Password">
        </div>
      </div>
      <div class="form-group row"
           [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword4" class="col-sm-2 control-label">Repeat</label>

        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4"
                 placeholder="Repeat">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)"
                class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <re-captcha site_key="6LeJ-hAUAAAAAHOEdoNLYvgQA9yziMlz70BWf_Kz"></re-captcha>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button
            [disabled]="!form.valid || !captcha.getResponse()"
            type="submit"
            class="btn btn-default btn-auth">Change Password
          </button>
          <img *ngIf="loading" height="20" width="20"
               src="../../assets/img/spinner-transparent.gif"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </div>
    </form>
  </div>
</div>
