<div class="row">

</div>

<div class="row">
</div>
<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <div class="row" *ngIf="subExists == true && trial == false">
      <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
          <th class="package-icons"></th>
          <th>Package</th>
          <th class="align-right">Start</th>
          <th class="align-right">End</th>
          <th class="align-right">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sub of subs" class="no-top-border">
          <td><img height="20" width="20" src="../../../assets/img/app/browsers/chrome.svg"></td>
          <td class="nowrap">{{ sub.package }}</td>
          <td class="align-right">{{ sub.start | date: 'yyyy-MM-dd' }}</td>
          <td class="align-right">{{ sub.end | date: 'yyyy-MM-dd' }}</td>
          <td class="align-right">
            <div *ngIf="(currDate >= sub.start) && (currDate <= sub.end)">
              <i class="ion-checkmark-round"></i>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="subExists == false && trial == true">
      <button class="btn btn-success btn-with-icon" type="button" (click)="trialClicked && addTrial()" [class.disabled]="trialClicked"><i class="ion-android-checkmark-circle"></i>Start
        48 Trial
      </button>
    </div>
  </div>

  <div class="col-xlg-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
  </div>

</div>

<div class="row shift-up">
</div>
