<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <div class="input-group">
      <span
        [ngClass]="('input-group-addon addon-left' + ' ' + (inputInvalid ? 'input-group-addon-danger' : 'input-group-addon-primary'))">#</span>
      <input type="text"
             [ngClass]="('form-control' + ' ' + (inputInvalid ? 'with-danger-addon' : 'with-primary-addon'))"
             placeholder="Enter Hashtag" maxlength="50" (keyup.enter)="!inputInvalid && addHashtag()"
             [value]="inputValue"
             (input)="newItemChanged($event)">
      <span class="input-group-btn">
        <button [ngClass]="('btn' + ' ' + (inputInvalid ? 'btn-danger' : 'btn-primary'))"
                type="button"
                (click)="inputValue.length !== 0 && hashtags.length < maxHashtags && !inputInvalid && addHashtag()"
                [class.disabled]="inputValue.length === 0 || hashtags.length >= maxHashtags || inputInvalid">Add</button>
      </span>
    </div>
    <p class="inputHashtagError">{{error}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <label for="hashtaglist">Hashtag List</label>
      <select multiple class="form-control" id="hashtaglist" #t (change)="highlightedTag(t.value)"
              (keyup)="deleteKeyClicked($event)">
        <option *ngFor="let tag of hashtags" [value]="tag">{{tag}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-success btn-with-icon" (click)="onSave()"
            [class.disabled]="hashtags.length === 0"><i class="ion-android-checkmark-circle"></i>Save
    </button>
    <button id="selectActions" type="button" class="btn btn-danger btn-with-icon" (click)="onDelete()"
            [class.disabled]="hashtags.length === 0"><i class="ion-trash-b"></i>Delete
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-xs-12">
    <button type="button" *ngIf="activeService === 0" class="btn btn-default btn-lg"
            [class.disabled]="hashtags.length === 0"
            (click)="modal.open()"><i class="ion-ios-play"></i>
      Start Service
    </button>
    <button *ngIf="activeService === 1" type="button" class="btn btn-default btn-lg" (click)="onStopService()"><i
      class="ion-stop"></i>
      Stop Service
    </button>
  </div>
</div>

<modal #modal [keyboard]="false" [backdrop]="'static'">
  <modal-header>
    <h3 class="box-title"><i class="fa fa-instagram"></i> Log into Instagram
      <small>We will not keep your password</small>
    </h3>
  </modal-header>
  <modal-body>
    <div class="callout-signin">
      <h4>Your account security is very important to us!</h4>
      <p>We will not store your password after sign in process. The password is required to establish connection with
        Instagram.</p>
    </div>
    <div class="form-group">
      <label for="inputUsername5" id="inputUsernameLabelForm5">Username</label>
      <input type="username" class="form-control" id="inputUsername5" placeholder="Username"
             [(ngModel)]="instaUsername">
      <p>{{usernameError}}</p>
    </div>
    <div class="form-group">
      <label for="inputPassword5" id="inputPasswordLabelForm5">Password</label>
      <input type="password" class="form-control" id="inputPassword5" placeholder="Password"
             [(ngModel)]="instaPassword">
    </div>
    <div class="section-block red-text ">
      <p>{{loginError}}</p>
    </div>
  </modal-body>
  <modal-footer>
    <img *ngIf="loading == true" height="20" width="20" src="./assets/img/spinner-transparent.gif">
    <button [class.disabled]="loading" type="button" class="btn btn-success" (click)="onStartClicked()">Start</button>
    <button [class.disabled]="loading" type="button" class="btn btn-danger" (click)="onCancelledClicked()">Cancel
    </button>
  </modal-footer>
</modal>

<modal #modalStoping [keyboard]="false" [backdrop]="'static'">
  <modal-header>
    <h3 class="box-title"><img class="loadingImage" height="20" width="20"
                               src="./assets/img/spinner-transparent.gif">Please wait while we stop your service
      <small>This will take a minute</small>
    </h3>
  </modal-header>
  <modal-body>
  </modal-body>
</modal>

<modal #modalStarting [keyboard]="false" [backdrop]="'static'">
  <modal-header>
    <h3 class="box-title"><img class="loadingImage" height="20" width="20"
                               src="./assets/img/spinner-transparent.gif">Please wait while we start your service
      <small>This will take a minute</small>
    </h3>
  </modal-header>
  <modal-body>
  </modal-body>
</modal>

